#titre {
  text-align: center;
  color: rgb(4, 4, 78);
  margin-top: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font
}
nav{
    box-shadow: 1em 1em 1em rgb(34, 34, 34);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
   background-image: url("./data/blood-bowl-banner-desktop.jpg");
  background-size: cover 100%; /*pour couvrir toute la surface*/
  background-position: top; /* pour centrer l'image*/
  background-repeat: no-repeat; /*pour éviter la répétition de l'image*/
}

.container {
  background-color: rgb(4, 4, 78);
  box-shadow: 1em 1em 1em rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1em;
  border-color: #fbfaf9;
  border-style: double;
  border-radius: 5%;
}
.card-body{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    width: 30%; /* ou utilisez une autre valeur pour contrôler la largeur des cartes */
    margin-bottom: 20px; /* espace entre les cartes */
    border: 1px solid #ccc; /* bordure pour la décoration */
    box-shadow: 1em 1em 1em rgb(34, 34, 34);
  }

#imper{
    height: 15em;
    width: 12em;
    margin-left: 18%;
    margin-top: 15%;
}
#logob{
  height: 2em;
  width: 2em;
  border-radius: 100%;
}